# ================================================
# FILE: requirements.txt
# ================================================
# --- UI & System ---
customtkinter
psutil
pynput

# --- Netzwerk & Web ---
paho-mqtt
requests

# --- Audio & Media ---
pygame-ce
pypresence

# --- Lokale Submodule ---
# Entferne das './' am Anfang, damit pip den Ordner relativ zum Projekt-Root sucht
-e libs/pyflp